nav {
  background-color: rgb(155, 107, 155);
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    li {
      padding: 0.5rem 1rem;
      a {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0 0.5rem;
        color: white;
      }
    }
  }
}
