.scroll-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 2;
  padding: 0.9em 1.3em;
  border: none;
  border-radius: 50%;
  opacity: 0.6;
  color: white;
  background-color: rgb(155, 107, 155);
  &:hover {
    opacity: 1;
  }
}
