.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .video {
    padding: 1rem;
    max-width: 400px;

    .container {
      border: 1px solid lightgray;
      box-shadow: 1px 1px 1px lightgrey;
      border-radius: 5px;
      padding: 5px;

      img {
        width: 100%;
      }
      video {
        width: 100%;
      }
      .transparent {
        opacity: 0;
        height: 0;
      }

      .intro {
        display: flex;
        justify-content: space-between;
        p {
          padding: 0.25rem 0.75rem;
        }
      }
    }
  }
}
